@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ed59q2');
	src:url('fonts/icomoon.eot?#iefixed59q2') format('embedded-opentype'),
		url('fonts/icomoon.ttf?ed59q2') format('truetype'),
		url('fonts/icomoon.woff?ed59q2') format('woff'),
		url('fonts/icomoon.svg?ed59q2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
	content: "\e613";
}
.icon-right:before {
	content: "\e610";
}
.icon-add-text:before {
	content: "\e611";
}
.icon-img:before {
	content: "\e612";
}
.icon-phone2:before {
	content: "\e60c";
}
.icon-remark:before {
	content: "\e60d";
}
.icon-key-2:before {
	content: "\e60e";
}
.icon-sound:before {
	content: "\e607";
}
.icon-message:before {
	content: "\e608";
}
.icon-phone:before {
	content: "\e609";
}
.icon-location:before {
	content: "\e604";
}
.icon-key:before {
	content: "\e60a";
}
.icon-pencil:before {
	content: "\e60b";
}
.icon-password:before {
	content: "\e605";
}
.icon-teach:before {
	content: "\e601";
}
.icon-person:before {
	content: "\e603";
}
.icon-envelope-o:before {
	content: "\f003";
}
.icon-heart:before {
	content: "\f004";
}
.icon-star:before {
	content: "\f005";
}
.icon-star-o:before {
	content: "\f006";
}
.icon-th:before {
	content: "\f00a";
}
.icon-list-alt:before {
	content: "\f022";
}
.icon-plus-circle:before {
	content: "\f055";
}
.icon-minus-circle:before {
	content: "\f056";
}
.icon-list-ul:before {
	content: "\f0ca";
}
.icon-envelope2:before {
	content: "\f0e0";
}
.icon-file-text-o:before {
	content: "\f0f6";
}
.icon-mail-reply:before {
	content: "\f112";
}
.icon-reply:before {
	content: "\f112";
}
.icon-checkmark:before {
	content: "\e60f";
}
.icon-grid:before {
	content: "\e606";
}
.icon-envelope:before {
	content: "\e600";
}
.icon-pictures:before {
	content: "\e602";
}
.icon-browser:before {
	content: "\e00c";
}
.icon-home3:before {
	content: "\e902";
}
.icon-image:before {
	content: "\e90d";
}
.icon-images:before {
	content: "\e90e";
}
.icon-users:before {
	content: "\e972";
}
