/* Empty. Add your own CSS if you like */
.bar .title.title-left{
	text-align: center;
}
.XZpopup .popup{
	border-radius: 5px;
	background: #fbfbfb url(../img/select_country_bg.png);
    background-size: cover;
}
.XZpopup .popup-head,.platform-ios .popover-arrow:after{
	display: none;
}
