<ion-view view-title="添加-爱好">
	<ion-content>
		<div class="list">
        <label class="item item-input">
          <input type="text" placeholder="输入标题">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Last Name">
        </label>
        <label class="item item-input">
          <textarea placeholder="输入内容"></textarea>
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="weixin()">Submit</button>
      </div>
      <img class="full-image" src="{{imgSrc}}">
	</ion-content>
</ion-view>