<ion-view view-title="{{loveCity}}-风景-旅游">
  <ion-content>
  	<div class="list" style="margin-bottom: 0" ng-repeat="v in haiwaiList">
	  	 <div class="item item-thumbnail-left" href="#" style="border-bottom: 1px solid #d5d5d5;padding-bottom: 10px;position: relative;" ng-click="theCity(loveCity,v.title)">
	          <img src="{{v.img}}">
	          <h2 style="color: #000;margin-bottom: 8px;margin: 10px 0;font-weight: 600;font-size: 16px;font-weight: bold;">{{v.title}}</h2>
	          <p >{{v.content}}</p>
	          <span class="icon ion-ios-arrow-right" style="position: absolute;right: 10px;top: 30px;font-size: 24px"></span>
        </div>
	  </div>
  </ion-content>
</ion-view>
