<style>
  .theT{       background: url(img/sub-menu-border.png) no-repeat bottom;
    background-size: 100% auto;
    position: relative;color: #5c5757;text-align: center;font-size: 16px;margin: 0
}
    .theT span{
      color: #ccc;
      font-size: 22px;position: absolute;left: 50px
    }
    .item-complex .item-content, .item-radio .item-content{
      background-color: transparent;    padding: 12px;
    }
    .item{
      border: none;
    }
    .item .item-content.activated{
      background-color: transparent;border: none;
    }
    .bar.bar-positive{
       background-color: #005489;
    border-bottom: 2px solid #0084cf;
    }
</style>
<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-grid" ng-click="openPopover($event)" ng-if="!TheCityName">
        </button>
        <button class="button button-clear" ng-click="openPopover()" ng-if="TheCityName">
          <span class="icon-location" style="display: inline-block;position: absolute;left: -15px;top: 10px"></span>
          <span style="display: inline-block;line-height: 1.3em;font-size: 12px;color: #eee;position: relative;">{{TheCityName}}市</span>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
<ion-side-menu side="left" style="background-color: rgba(0,0,0,.8);padding: 15px">
    <ion-content>
     <p style="text-align: center;margin-top: 20px">
      <img src="img/user-icon.png" style="width: 60px;height: 60px;border-radius: 60px;border: 2px solid #848484" /><br/>
        <small style="color: #9c9c9c;font-size: 16px">ehiwi</small>
    </p>
      <ion-list>
      <ion-item class="theT"></ion-item>
        <ion-item menu-close class="theT" ng-repeat="v in TitleName" href="{{v.goTo}}">
          <span class="{{v.Icon}}"></span>{{v.name}}
        </ion-item>
      </ion-list>
        
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
<script id="my-share.html " type="text/ng-template">
  <ion-popover-view style="opacity: 1;width: 270px;height: 280px;margin: 0;border-radius: 5px" ng-style="{'left':popoverleft,'top':popovertop}" class="XZpopup">
    <ion-content>
      <div>
        <div style="text-align:center;margin-bottom: 15px">
          <p style="height:30px;border-bottom:1px solid #ddded9;"></p>
          <h3 style="margin-top:-20px"><span style="padding:3px 10px;background-color:#fff;color:#646567;font-size:18px;font-weight:bold;">选择城市</span></h3>
        </div>
          <div ng-repeat="v in theGoujia" style="text-align:center;width: 33%;float: left;color: #555555;font-size: 14px;margin-bottom: 15px" ng-click="XZschool(v.name)">
            {{v.name}}
          </div>
      </div>
    </ion-content>
  </ion-popover-view>
</script>
